@import 'core/variables';
@import 'core/reset';
// @import 'components/code';
// @import 'components/links';
// @import 'layout/page';
@import 'pages/index';
@import 'layout/header';
@import 'layout/favorites';
@import 'layout/characters';
@import 'layout/footer';
